td {
    text-align: center;
}

tr {
    background-color: #eeeeee;
    outline: 1px solid black;
    height: 50px;
}

th[scope="col"] {
    font-size: 110%;
    background-color: darkslateblue;
    color: white;
    outline: 1px solid black;
    text-decoration: underline;
}

th[scope="row"] {
    font-size: 105%;
    font-style : bold;
    background-color: darkgrey;
    color: black;
    outline: 1px solid black;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: verdana;
    font-size: 0.8rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

caption {
    font: normal bold 1.5em verdana, sans-serif;
    text-shadow: 2px 2px 2px lightgrey;
    padding: 100px;
    caption-side: bottom;
}
    

