td {
    text-align: center;
}

tr {
    background-color: #eeeeee;
}

th[scope="col"] {
    background-color: darkslateblue;
    color: white;
}

th[scope="row"] {
    background-color: darkgrey;
    color: white;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

caption {
    font: normal bold 1.5em verdana, sans-serif;
    text-shadow: 2px 2px 2px grey;
    padding: 100px;
    caption-side: bottom;
}
    

